################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FaceRecognition1/obj/Debug
/FaceRecognition1/WYNIKI
/FaceRecognition1/bin/Debug
/.vs/FaceRecognition1/DesignTimeBuild
/.vs/FaceRecognition1/v15/Server/sqlite3
/.vs/FaceRecognition1/v15
